@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("@/assets/fonts/Poppins-Medium.woff") format("woff"),
    url("@/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #333;
  background-image: url(@/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

ul li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  padding-top: 150px;
}

.dropdowns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 0 40px;
}

.wrapper {
  position: relative;
  width: 300px;
  height: 54px;
}

.modals {
  display: flex;
  justify-content: center;
  gap: 0 40px;
}

.btn {
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #fff;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;

  transition: all 0.15s ease;
}

.btn-str:hover {
  background-color: #ec3d06;
  transition: all 0.15s ease;
}

.btn-int:hover {
  background-color: #02cbde;
  transition: all 0.15s ease;
}

.btn-agi:hover {
  background-color: #26e030;
  transition: all 0.15s ease;
}
